@model IList<Blog.Models.Post>

<h2>Lista de Posts</h2>
<a href="@Url.Action("Novo")" class="btn btn-primary"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Novo Post</a>
<br />
<br />
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th><center>Post</center></th>
            <th><center>Categoria</center></th>
            <th><center>Publicado Em</center></th>
            <th><center>Autor</center></th>
            <th colspan="3"><center>Ações</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td>
                    @p.Titulo
                </td>
                <td>
                    @p.Categoria
                </td>
                <td>
                    @if (@p.Publicado)
                    {
                        @Html.Encode(@p.Data)
                    }
                    else
                    {
                        @Html.Raw("Não Publicado")
                    }
                </td>
                <td>
                    @p.Autor.UserName
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("Alterar")/@p.Id" class="btn btn-success"><span class='glyphicon glyphicon-edit' aria-hidden='true'></span> Editar</a>
                        <a href="@Url.Action("Excluir")/@p.Id" class="btn btn-danger"><span class='glyphicon glyphicon-trash' aria-hidden='true'></span> Excluir</a>
                        <a href="@Url.Action("Publicar")/@p.Id" class="btn btn-info"><span class='glyphicon glyphicon-send' aria-hidden='true'></span> Publicar</a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @Html.Partial("_Scripts")
}