@model Blog.Models.Post

@section Styles{
    @Html.Partial("_Styles")
}

@using (Html.BeginForm("Update", "Home"))
{
    @Html.HiddenFor(p=>p.Id)
    @Html.HiddenFor(p => p.Data)
    @Html.HiddenFor(p => p.Publicado)

    @Html.EditorFor(p => p)

    <button type="submit">Alterar</button>
}

@section Scripts{
    @Html.Partial("_Scripts")
}
