
@{
    Layout = null;
}

@model List<Blog.Models.Post>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Novo", "NovoPost")
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Categoria</th>
                <th>Publicado</th>
                <th colspan="3">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Titulo</td>
                    <td>@p.Resumo</td>
                    <td>@Html.ActionLink(p.Categoria, "Categorias",new { id = p.Categoria })</td>
                    <td>
                    @if (p.Publicado)
                    {
                        @Html.Raw(string.Format("{0:dd/MM/yyyy hh:mm:ss}", p.Data));
                    }
                    else
                    {
                        @Html.Raw("Não");
                    }
                    </td>
                    <td>@Html.ActionLink("Excluir", "RemovePost/@p.Id")</td>
                    <td>@Html.ActionLink("Editar", "AlteraPost/@p.Id")</td>
                    <td>@Html.ActionLink("Publicar", "Publicar/@p.Id")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
